*{
	background-color: blueviolet;
}
.about{
	font-size: 25px;
	color: white;
}
.about a img{
	height: 100px;
	width: 100px;
}
.about #follow{
	color: black;
} 
.about a #insta{
	height: 100px;
	width: 100px;
	background-color: wheat;
}
.about a #back{
	font-size: 20px;
	border: none;
	background: none;
	border: 5px solid #1a1a1a;
	border-radius: 10px;
	margin: 13px;
	padding: 5px;
	background-color: #32ccba;
	color: white;
}
.about a #back:hover{
	border-radius: 20px;
	background-color: #66eafb;
}